body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}


/*--------- Header ----------*/
header {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 4rem;
}

#banner {
    display: none;
    border: 1px solid #bbb;
    padding: .5rem;
    background-color: #Ffd700;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

header img {
   width: 15vw;
   height: auto;
   padding: 1rem;
}


h1, h2 {
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px #55bdca;
}

.name {
    padding: 2rem;
    line-height: .5rem;
}


/*--------- Navigation ----------*/

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: black;
}

nav {
    padding: 0;
    background-color: #f27d42;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

nav ul li a:hover {
    background-color: #022449;
}

nav ul {
    display: none;
}
nav ul.open {
    display: block;
    /*position: absolute;
    z-index: 1;
    background-color: #f27d42;*/
}



/*--------- JavaScript ----------*/
.currentdate {
    border: solid;
    width: 95%;
    text-align: center;
    padding: .5rem;
    background-color: #022449;
    color: white;
}

/*--------- Social Media ----------*/
.social {
    padding: 2rem;
}

.social img{
    width: 1.5rem;
    height: auto;
    padding: .5rem;
}

/*--------- Main ----------*/
main {
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr; 
}

/*--------- Hero ----------*/

.hero {
    background-image: url(../images/colorado.jpg);
    background-position: center;
    height: 200px;
    position: relative;
}

.hero h2 {
    position: absolute;
    top: 1rem;
    left: 3rem;
}

.hero button {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
}

.hero button:hover, .join button:hover{
    background-color: #d56d3a;
}

.hero button, .join button {
    background-color: #f27d42;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 5px 10px #022449;
    font-weight: bold;
}

/*--------- Join ----------*/
.join button {
    display: block;
    width: 100%;
}

.join p {
    padding: 1rem;
}

/*--------- Spotlight ----------*/
.spotlight {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-row: 5/6;
}

.spot {
    border: 2px solid black;
}

.border {
    border-top: 1px solid black;
}

/*--------- Event ----------*/
.event {
    grid-row: 2/3;
}

.event p {
    padding: 1rem;
}

/*--------- Weather ----------*/
.weather {
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr 1fr));*/
    width: 250px;
    justify-self: center;
}

.weather h3 {
    grid-column: 1/ span 2;
}

#weather-icon {
    width: 5rem;
}

.current-temp-deg {
    font-size: 2rem;
    vertical-align: middle;
    padding-top: 2rem;
}

figcaption {
    text-transform: capitalize;
    border-bottom: 2px solid black;
    grid-column: 1/ span 2;
}

.weather p {
    grid-column: 1/ span 2;
}

#weather-source {
    grid-column: 1/ span 2;
    text-align: center;
}


/*--------- Placeholder ----------*/
.placeholder {
    margin: .5rem;
    padding: 1rem;
    background-color: #55bdca;
    text-align: center;
}

.placeholder h3 {
    color: black;
    background-color: white;
    padding: .5rem;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    text-shadow: 1.5px 1.5px #55bdca;
}

.placeholder p {
    color: white;
}

.placeholder a {
    color: #Ffd700;
    text-decoration: none;
}


/*--------- Footer ----------*/
footer {
    background-color: #022449;
    color: white;
    align-items: center;
    border: solid;
    display: block;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
}

footer img {
    width: 15vw;
    height: auto;
    padding: 1rem;
}


.location img {
    width: 1rem;
    height: auto;
    padding: 0;
}


.location a {
    text-decoration: none;
    color: white;
}

.topfooter {
    padding: 1rem;
    margin: 1rem;
}

.area {
    padding: 1rem;
}
.contactinfo {
    padding: 1rem;
}

.bottomfooter {
    margin: 1rem;
    padding: 1rem;
    border-top: solid;
    
}
