body {
    padding: auto;
    margin: auto;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Cormorant SC', serif;
    color: white;
}

.container {
    /*min-height: 160px;*/
    /*margin: auto;*/
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0;
    
}

header {
    background-color: white;
}

.logo {
    background-color: #60B7CA;
    display: flex;
    align-items: center;
    padding: .5rem;
}
a {
    text-decoration: none;
}

/*----------navigation----------*/
nav button {
    margin: .2rem 5vw;
    background: transparent;
    background-color: #A7e8ee;
    border: none;
    border-radius: 25%;
    font-size: 2rem;
    color: black;
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    display: flex;
}

/*nav button.open {
    top: 1rem;
    right: 0;
}*/


nav {
    background-color: white;
}

nav ul {
    list-style: none;
    padding: 1rem;
    margin: 1rem;
    display: none;
    background-color: #bec537;
    text-align: center;
    font-size: 1.2rem;
}


nav ul.open {
    display: block;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}



nav a {
    display: block;
    text-decoration: none;
    padding: .5rem 3vw;
    margin: 2rem;
    color: white;
    font-weight: 700;
    line-height: 1rem;
    
}

#active {
    background-color: #5c6b1a;
    color: white;
    border: none;
}

nav a:hover {
    border-bottom: 2px solid #5c6b1a;
    color: #5c6b1a;
}

#topsocial {
    display: flex;
    justify-content: flex-end;
}

#topsocial img:hover {
    background-color: #A7e8ee;
}

.hometopimg {
    background-image: url(../images/small-original.jpg);
    background-position: center;
    height: 300px;
}

.homereserve {
    height: 200px;
    text-align: center;
    margin: 2rem;
}

#reserveBtn, .submitBtn {
    padding: 1.5rem;
    background-color: #bec537;
    color: white;
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 1rem;
}

#reserveBtn:hover, .submitBtn:hover {
    background-color: #5c6b1a;
}

.vernal p {
    padding: 1rem;
    margin: 0;
}

.vernal p:nth-child(6) {
    border-bottom: 1px solid black;
}

/*-----------Weather Page--------------*/
.weather {
    display: grid;
    grid-template-columns: 1fr;
}

/*#weather-icon {
    width: 5rem;
}*/

.mainweather {
    padding: 1rem 0 1rem;
}

#time {
    margin: 1rem;
}

#place {
    display: block;
    padding: 0 1rem 0;
}

.current-temp-deg {
    font-size: 2rem;
    padding: 0 1rem 1rem;
}

.weatherbox {
    display: block;
    background-color: #bec537;
    border: 1px solid black;
    border-radius: 10px;
    /*height: 200px;*/
    margin: 1rem 0 2rem;
    color: white;
    font-size: 1.3rem;
}

.topweatherbox {
    grid-column: 1/ span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    height: 100px;
    border-bottom: 1px solid black;
}

#humidity {
    display: block;
    font-weight: 700;
}

figcaption {
    text-transform: capitalize;
    grid-column: 2;
    font-weight: 700;
}

#wind-speed, #wind-chill {
    font-weight: 700;
}

.bottomweatherbox {
    display: grid;
    justify-items: center;
    align-content: center;
    height: 100px;
    margin: 1rem;
}

.multipleweather {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.weatherblock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    border: 1px solid black;
    border-width: 1px 0 1px 0;
}

.weathertomorrow, .weatherdate2 {
    border-bottom: none;
}


/*-----------Temple Page--------------*/
.templemain {
    margin: auto;

}

.cards section {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-height: 100%;
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    margin: 3rem;
    padding: 3rem;
}

.cards li {
    padding: .5rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}


.cards h2 {
    background-color: #5c6b1a;
    color: white;
    padding: .5rem;
}

.cards h3 {
    margin: .5rem;
}

/*----------Reservation Page-------------*/

#standard, #deluxe, #joint, #suite  {
    height: 1rem;
    width: 300px;
    padding: .5rem;
}

form {
    width: 550px;
}
form fieldset {
    border: none;
}

form legend {
    margin: 0 1rem;
    padding: .5rem 1rem;
    background-color: #5c6b1a;
    font-weight: 700;
    color: white;
    font-size: 22px;
    display: block;
    width: 97%;
}

form label {
    display: block;
    padding: 2rem 0 0;
    font-size: .8rem;
}

form label input {
    font-size: 1rem;
    padding: .5rem;
    border-top: hidden;
    border-right: hidden;
    border-left: hidden;
    border-bottom: groove;
    width: 200px;
}

form select, #start{
    padding: .5rem;
    width: 300px;
}

form label input:required:valid {
    border-bottom: green solid 1px;
}

form label input:required {
    border-bottom: red solid 1px;
}



input:focus {
    outline: none;
}

.rooms input {
    padding: 2rem;
}

textarea {
    padding: .75rem;
    margin: 0 0 .5rem;
    outline: none;
}

.submitBtn {
    width: 400px;
}

/*-------------Services-------------*/
.servicesmain ul li {
   padding: .5rem;
}
.services h3{
    text-align: center;
}
.services {
    display: grid;
    justify-content: space-around;
}

.suite p, .reception p {
 margin: 2rem .5rem ;
}
/*-------------Footer-------------*/



/*-------------Top Footer-------------*/

.topfooter {
    background-color: #60B7CA;
    color: white;
    
}

.location, .info, .follow, .resources {
    padding: 1rem;
}

.location a {
    background-color: #bec537;
    color: white;
    width: 150px;
    height: 45px;
    display: flex;
    border-radius: 1rem;
    align-items: center;
}

.location a:hover{
    color: #5c6b1a;
}

.location img {
    background-color: white;
    border-radius: 100%;
    margin: .5rem;
}

.resources ul{
    list-style: none;
    color: white;
    padding: 0;
    margin: 0;
}
.resources a {
    color: white;
    text-decoration: underline;
}
.resources li {
    padding: 0 .5rem .5rem;
    
}
.resources  h3{
    margin: 0;
    padding: 1rem 0;
}


/*--------- Top Footer Social Media ----------*/

.icon img {
    width: 2rem;
}

.follow img {
    padding: .5rem;
    /*background-color: white;*/
    border-radius: 25%;
    
}

.follow img:hover {
    background-color: #A7e8ee;
    border-radius: 25%;
}

/*--------- Bottom footer ----------*/
.bottomfooter {
    background-color: #A7e8ee;
}

.bottomfooter p {
    margin: auto;
    padding: 1rem;
    text-align: center;
    color: black;
}